#myChart { max-width: 80%; }

#menu {
	border: 1px solid #969696;
	font-family: Arial;
	font-size: 0.9em;
	margin: 5px;
	max-width: 15%;
	position: absolute;
	right: 20px;
	top: 30px;
	padding: 5px;
}

select {
	margin: 5px;
	margin-left: 0px;
	border-radius: 3px;
	width: 100%;
	height: 25px;
	border:	1px solid #111;
	font-size: 0.75em;
}

p, h3, select { color : #494747; }
p, h3 { margin: 0; }
p { margin-top: 0.75em; }
h3 { margin-bottom: 0.75em; }

/*JS takes care of when these are shown*/
#consonant-q, #consonant-opt, #syllable-q, #syllable-opt { display: none; }
